* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}

body {
	background: #333333;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

nav {
	width: 100%;
	padding: 20px;
	background-color: #1B1B1C;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: flex-end;
}

nav i {
	color: #fff;
	font-size: 32px;
	margin: 0 5px;
	cursor: pointer;
}

nav p {
	font-size: 14px;
	color: #fff;
}

.perfil {
	width: 100%;
	max-width: 420px;
	padding: 20px;
	text-align: center;
	margin: 30px auto;
}

.perfil p {
	margin: 20px 0;
	color: #fff;
	font-size: 18px;
}

.perfil p:nth-of-type(2) {
	font-size: 14px;
	color: #828282;
}

.img-perfil {
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-image: url('../assets/me.jpeg');
	background-position: center;
	background-size: cover;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}

.projects h1 {
	color: #fff;
	font-size: 24px;
	display: block;
	width: 100%;
	text-align: center;
}

.box-project {
	margin: 20px;
	width: 300px;
	height: 250px;
	background-color: #ddd;
}

.one {
	background: url(../assets/img/1.png);
	background-position: center;
}
.two {
	background: url(../assets/img/2.png);
	background-position: center;

}
.three {
	background: url(../assets/img/3.png);
	background-position: center;
}

@media screen and (max-width: 960px) {
	nav {
		justify-content: center;
	}

	.projects {
		margin-top: 0px;
	}

	.perfil {
		margin-bottom: 0px;
	}
}
